/*body {
    background: url('logos/biodiv_background.jpeg') no-repeat center center fixed;
    background-size: cover;
}
*/

.tag {
    display: inline-block;
    background-color: #f4f4f4;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

@-moz-document url-prefix() {
    .map-container {
        background: transparent !important;
    }
}

/*to avoid the black background belo the map*/
iframe[title="streamlit_folium.st_folium"] {
    height: 400px;
}